@import "../utilidades/mixin";
@import "../utilidades/variables";

@media (max-width:768px){
    main{
    .datos{
        top: 11rem;
        margin-left: 1rem;
        .datos-contactanos{
            font-size: 2rem;
            text-decoration: underline;
        }
        .datos-empresa{
            font-size: 1rem;
        }
    }
    .fondo-contact{
        width: 100vw;
    }
    
}
  
}

main {
    .fondo-contact {
        width: 100%
    }

    .datos {
        position: absolute;
        top: 500px;
        font-size: larger;
        color: white;
        text-transform: uppercase;
        margin-left: 2rem;
        text-decoration: underline;

    }

    .mb-3 {
       
        .form-label{
            color: $color-textomenu
        }
        .form-control{
            margin-bottom: 1rem;
        }
    }
    .boton-formulario {
        display: flex;
        justify-content: center;
       form{
        input{
            @include estilos-botones(0.5rem,0.2rem 4rem);
            background-color: $color-textomenu;
            border-radius: 6px;
            border-color: black;
        }
       }
        }
        
}

.mb-3 ::first-letter {
    text-transform: uppercase;
}