@import "../utilidades/mixin";
@import "../utilidades/variables";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (max-width:768px) {
    
    .logo {
        width: 50px;
        margin: auto;
    }
  .productos .imagen-uno .ver-mas-uno{
    top: 50%;
    left: 40%;
  }
  .productos .imagen-dos .ver-mas-dos{
    top: 50%;
    left: 40%;
  }

  .productos .imagen-tres .ver-mas-tres{
    top: 50%;
    left: 40%;
  }
  .productos .imagen-cuatro .ver-mas-cuatro{
    top: 50%;
    left: 40%;
  }
    .productos {
        grid-template-columns: 1fr;
        grid-template-areas:
            "imagen-uno"
            "imagen-dos"
            "imagen-tres"
            "imagen-cuatro";
        

        div {
            .text-img-uno {
                width: 100vw;
                text-align: center;
                background-color: gray;
                margin-bottom: 0rem;
                text-transform: uppercase;

            }

            .imagen-uno {
                padding: 1rem 8.4rem 1rem 8rem;
                background-color: black;
                width: 100vw;
                height: auto;
            }

            .text-img-dos {

                text-align: center;
                background-color: gray;
                margin-bottom: 0rem;
                text-transform: uppercase;

            }

            .imagen-dos {
                padding: 1rem 10rem 1rem 8rem;
                background-color: black;
                width: 100vw;
                height: auto;
            }

            .text-img-tres {
                width: 100vw;
                text-align: center;
                background-color: gray;
                margin-bottom: 0rem;
                text-transform: uppercase;

            }

            .imagen-tres {
                padding: 1rem 8.4rem 1rem 8rem;
                background-color: black;
                width: 100vw;
                height: auto;
            }

            .text-img-cuatro {
                width: 100vw;
                text-align: center;
                background-color: gray;
                margin-bottom: 0rem;
                text-transform: uppercase;

            }

            .imagen-cuatro {
                padding: 1rem 8.4rem 1rem 8rem;
                background-color: black;
                width: 100vw;
                height: auto;
            }

        }
        
    }

    .navbar-nav {
        font-size: medium;
        text-align: right;
        
    }
    .nav-item{
        margin-right: 1rem;
    }

    .dropdown-menu {
        height: auto;
    }
}

.logo {
    width: 100px;
    margin: auto;
}

.fondo-color {
    background-color: $color-principal;
}

.menu-color {
    text-decoration: underline;
    color: $color-textomenu;
    width: 100%;

    ul {
        background-color: black;
        font-size: x-large;
        height: auto;
    }

    .navbar-toggler {
        background-color: $color-principal;
    }

    .dropdown-menu {
        background-color: $color-principal;
        overflow: auto;
        height: auto;
    }

}

.menu-color:hover {
    color: rgb(255, 0, 0);
}

.imagen-principal {
    padding: 20rem;
    background-image: url(../imagenes/imagen-principal.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

    .boton {
        display: flex;
        justify-content: center;
        font-size: large;
        margin-top: -10rem;

        form {

            input {
                background-color: $color-principal;
                @include estilos-botones(0, 0.3rem 3.2rem);
                border-color: $color-textomenu;
                border-radius: 5px;
            }
        }
    }
}


.productos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    img {
        height: 10rem;
    }

    .ver-mas {
        @include estilos-botones (0, 0.1rem 3.2rem);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

    }

    .text-img-uno {
        text-align: center;
    }

    .text-img-dos {
        text-align: center;
    }

    .text-img-tres {
        text-align: center;
    }

    .text-img-cuatro {
        text-align: center;
    }
}

.productos{
    position: relative;
   

.imagen-uno{
    perspective: 1000px;
}
.imagen-uno:hover .ver-mas-uno{
    opacity: 1;
}
.imagen-uno:hover img{
    opacity: 0,3;
    filter: blur(4px);
}
.ver-mas-uno{
    position: absolute;
    top: 50%;
    left: 20%;
    translate: (-50%, -50%);
    opacity: 0;
    transition: opacity 1s;
    background-color: $color-textomenu;
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
    border-radius: 8px;
    
}
.imagen-dos{
    perspective: 1000px;
}
.imagen-dos:hover .ver-mas-dos{
    opacity: 1;
}
.imagen-dos:hover img{
    opacity: 0,3;
    filter: blur(4px);
}
.ver-mas-dos{
    position: absolute;
    top: 50%;
    left: 20%;
    translate: (-50%, -50%);
    opacity: 0;
    transition: opacity 1.5s;
    background-color: $color-textomenu;
    border-radius: 8px;
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
}
.imagen-tres{
    perspective: 1000px;
}
.imagen-tres:hover .ver-mas-tres{
    opacity: 1;
}
.imagen-tres:hover img{
    opacity: 0,3;
    filter: blur(4px);
}
.ver-mas-tres{
    position: absolute;
    top: 50%;
    left: 20%;
    translate: (-50%, -50%);
    opacity: 0;
    transition: opacity 1.5s;
    background-color: $color-textomenu;
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
    border-radius: 8px;
}
.imagen-cuatro{
    perspective: 1000px;
}
.imagen-cuatro:hover .ver-mas-cuatro{
    opacity: 1;
}
.imagen-cuatro:hover img{
    opacity: 0,3;
    filter: blur(4px);
}
.ver-mas-cuatro{
    position: absolute;
    top: 50%;
    left: 20%;
    translate: (-50%, -50%);
    opacity: 0;
    transition: opacity 1.5s;
    background-color: $color-textomenu;
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
    border-radius: 8px;
}
}