@import "../utilidades/variables";

@media (max-width:768px) {
    main {
        .imagen-tienda {
            padding: 2rem;
        }
        .boton{
            @include estilos-botones(1rem, 0.2rem 1rem);
        }

        .img-productos img {
           
            padding: 5rem;
            align-items: center;
            height: 400px;

        }

        .navbar-toggler {
            background-color: $color-principal;
        }
    }
}


.dropdown-item {
    background-color: rgba(116, 112, 112, 0.918);
    font-weight: bold;
}




.imagen-tienda {

    padding: 10rem;
    background-image: url(../imagenes/POATAN.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

    .texto-tienda {
        display: flex;
        justify-content: center;
        vertical-align: middle;
        font-size: xx-large;
        color: $color-textomenu;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: lowercase;



    }


    .boton {
        display: flex;
        justify-content: center;
        vertical-align: middle;
        font-size: medium;


        form {
            input {
                background-color: $color-principal;
                @include estilos-botones(0, 0.3rem 3.2rem);
                border-color: $color-textomenu;
                border-radius: 5px;
                color: $color-textomenu;
            }
        }
    }


}

.nav-link:hover {
    color: red;
}

.nav-link:focus {
    color: red;
}

.dropdown-item:hover {
    background-color: $color-textomenu;
}


.menu-secundario {
    height: auto;
    background-color: black;

    li {
        font-size: larger;

        ul {
            background-color: rgba(116, 112, 112, 0.918);
            border: 3px solid $color-textomenu;

            .dropdown-item {
                font-weight: bolder;
            }

        }
    }
}


.nav-item ::first-letter {
    text-transform: uppercase;
}


.img-productos {

    img {
        height: 400px;
        margin: 30px;
        padding: 50px;
        justify-content: space-around;
        
    }
    img:hover{
        transition: 1.2s;
        box-shadow: $color-textomenu 2.8px 2.5px;
        background-color: rgb(105, 105, 105);
    }
}